.vscode/
node_modules/

secrets/
excel-files/

.env
.prettierignore
nodemon.json
*.http

stats.cronjob.js
testing.cronjob.js
accessCodeEnabled.cronjob.js
update-stats.cronjob.js
test.js
script-user-stats-update.js
script-user-update.js
users-update.cronjob.js
users-update.cronjob.js
stats-push.cronjob.js
script-user-stats-update.js
script-user-update.js
scripts-csv-xlsx.js
updateRoundPriceScript.js
findBugInStats.js